<p id="notice"><%= flash[:notice] %></p>

<!-- コンテナ全体 -->
<div class="container px-5 px-sm-0">
  <div class="row">
    
    <!-- 左側 -->
    <div class="col-md-3">
      <%= render 'list_userinfo', list: @user %>
      <%= render 'list_newbook', list: @book_new %>
    </div>
    
    <!-- 右側 -->
    <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>
      <table class="table">
        <thead></thead>
        <tbody>
          <td>
            <!-- プロフ画面表示 -->
            <%= link_to user_path(@book.user_id) do %>
              <%= image_tag @book.user.get_profile_image(100,100) %></br>
              <%= @book.user.name %>
            <% end %>
          </td>
          <!-- Title表示 -->
          <td><%= link_to @book.title, book_path(@book.id) %></td>
          <!-- Opinion表示 -->
          <td><%= @book.body %></td>
          <% if @book.user == current_user %>
            <!-- Edit表示 -->
            <td><%= link_to 'Edit', edit_book_path(@book.id) %></td>
            <!-- Destroy表示 -->
            <td><%= link_to 'Destroy', book_path(@book.id), method: :delete, "data-confirm" => "本当に削除しますか？"%></td>
          <% end %>
        </tbody>
        <tfoot></tfoot>
      </table>
    </div>
    
  </div>
</div>